body{
	background: #341b1f url(../img/bg.jpg) top center no-repeat;

}
#form img {
	width: 100%;
	height:auto;
}
.box-shadow {
  -moz-box-shadow:    0px 3px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
  box-shadow:         0px 3px 10px rgba(0,0,0,0.5);
}
.rounded{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.form-signin {
background: rgba(232,232,232,0.8);
  max-width: 330px;
  padding: 15px;
  margin: 250px auto !important;
  }
 .btn{
 	margin:10px 0 ;
 }

.rezult-div{
  font-weight: bold;
  font-size: 32px;
}
